
;cave DeathsHeadHole
;Title: Deaths Head Hole

*begin DeathsHeadHole

*export DeathsHead_1.FencePostTag Entrance DeathsHead_2.2
*export DeathsHead_3LJSump.24
*entrance Entrance

*include DeathsHead_1  
*include DeathsHead_2
*include DeathsHead_3LJSump
*include DeathsHeadAvens_6	

*equate DeathsHead_1.001 Entrance
*equate DeathsHead_1.010 DeathsHead_2.1 
*equate DeathsHead_2.18 DeathsHead_3LJSump.18x
*equate DeathsHead_1.025 DeathsHeadAvens_6.1	

*end	DeathsHeadHole