;Cave:		Bull Pot of the Witches - North Chamber extensions, upper passage
;Surveyors:	H.St.Lawrence, Sam Lieberman
;Date:		14/12/03
;Instruments:	Kit 5 read by Sam
;Notes/Pics: 	Sam
;Tape: 		HStL

;*equate	bw14.001	bw13.004

*begin bw14
*export 001

*calibrate compass	0.00
*calibrate clino	+1.00
*calibrate tape		+3.00

002	001	08.50	216.0	+55.0	;001 LH wall above climb down
002	003	06.00	341.0	-07.0	;002 Top of boulders, base of climb
; 003 LH wall of tight rift (now capped)

*end	bw14
